
body{
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(187, 187, 181, 0.7);
}

.language{
  background-color: #E5E7EB;
}



.custom-red-color{
  color: #b56d6d;

}
.my-border-bottom{
  border-bottom: 2px solid #da9090;

}

.cool-link{
  color: black;
}

.cool-link:hover{
  color: #2892a5 !important;
  transition: 0.2s;
}

/* navbar on hove style start*/

.cool-link {
  display: inline-block;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #2892a5 ;
  transition: width .4s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .4s;
}

/* navbar on hove style end*/



.hero-section{
  text-align: justify;
}

.hyper-link{
  text-decoration: none;
  color: black;

}

.hyper-link:hover{
  text-decoration: underline;
  color: #2892a5 ;
  transition: 0.2s;
}

.rounded{
  border-radius: 20px !important;
}

.project:hover img{
  opacity: .8;
  cursor: pointer;
}

.project:hover .project-name{
  color: #217483 ;
  text-decoration: underline;
}


.project img{
  transition: 0.3s
}


.btnDwnResume {background-image: linear-gradient(to right, #e46d1e9c 0%, #408c09c1  51%, #15883ba1  100%)}

.btnDwnResume {
   /* padding: 10px; */
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   /* box-shadow: 0 0 20px #eee; */
   border-radius: 7px;
   /* display: block; */
 }

 .btnDwnResume:hover {
   background-position: right center; /* change the direction of the change here */
   color: rgb(169, 136, 136);
   text-decoration: none;
 }


.btnContactMe {background-image: linear-gradient(to right, #9facbdd0 0%, #1eacc5b6  51%, #29740bb4  100%)}

.btnContactMe {
   /* padding: 10px; */
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   /* box-shadow: 0 0 20px #eee; */
   border-radius: 7px;
   /* display: block; */
 }

 .btnContactMe:hover {
   background-position: right center; /* change the direction of the change here */
   color: rgb(189, 173, 173);
   text-decoration: none;
 }


 .btn-linkedIn{
   background-color: #0e76a8;
   color: white;
 }
 .btn-linkedIn:hover{
   background-color: #0e76a8;
   color: white;
   box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);

 }

.btn-github{
  background-color: #171515;
  color: white;
 }
.btn-github:hover{
  background-color: #171515;
  color: white;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.btn-twitter{
  background-color: #1DA1F2;
  color: white;
}
.btn-twitter:hover{
  background-color: #1DA1F2;
  color: white;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}